@{

    ViewData["Title"] = "Account Detail";

}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRUD App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getAccount">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="showUpdateAccount" asp-route-Id=@ViewBag.accDetail.Id>Update Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="deleteAccount" asp-route-Id=@ViewBag.accDetail.Id>Delete Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    
    @if (ViewBag.accDetail != null)
    {
        <div class="text-center">
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <td width="50%">Name</td>
                    <td>@ViewBag.accDetail.Name</td>
                </tr>
                <tr>
                    <td>Employees</td>
                    <td>@ViewBag.accDetail.NumberOfEmployees</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>@ViewBag.accDetail.Phone</td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>@ViewBag.accDetail.Fax</td>
                </tr>
                <tr>
                    <td>SLA Serial Number</td>
                    <td>@ViewBag.accDetail.Apttus_Billing__SLASerialNumber__c</td>
                </tr>
                <tr>
                    <td>Billing City</td>
                    <td>@ViewBag.accDetail.BillingCity</td>
                </tr>
                <tr>
                    <td>Billing State</td>
                    <td>@ViewBag.accDetail.BillingState</td>
                </tr>
                <tr>
                    <td>Billing Country</td>
                    <td>@ViewBag.accDetail.BillingCountry</td>
                </tr>
                <tr>
                    <td>Shipping State</td>
                    <td>@ViewBag.accDetail.ShippingState</td>
                </tr>
                <tr>
                    <td>Shipping Country</td>
                    <td>@ViewBag.accDetail.ShippingCountry</td>
                </tr>
            </table>
        </div>
    }
    
</div>