@{
    ViewData["Title"] = "Home Page";
    //asp-all-route-data
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRUD App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getAccount">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="showCreateAcc">Create Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <p>@TempData["status"]</p>
    <h1 class="display-4">Accounts</h1>
    @if (TempData.ContainsKey("errMsg"))
    {
        <p>@TempData["errMsg"]</p>
    }
    else
    {
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Account Name </th>
            <th>Region </th>
            <th>Type </th>
            <th>Customer Rating </th>
            <th>Update Record</th>
            <th>Delete Record</th>
        </tr>
        @if (ViewBag.accData != null)
        {
            @foreach (var d in (ViewBag.accData))
            {
                <tr>
                    <td><a asp-action="singleAcc" asp-controller="Home" asp-route-Id=@d.Id>@d.Name</a></td>
                    <td>@d.Region__c</td>
                    <td>@d.Type</td>
                    <td>@d.Customer_Rating__c</td>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="showUpdateAccount" asp-route-Id=@d.Id>Update</a></td>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="deleteAccount" asp-route-Id=@d.Id>Delete</a></td>
                </tr>
            }
        }
    </table>
        <div class="container">
            <div id="increment-count">
                <input type="button" id="up-arrow" value="Next" />
            </div>
            <div id="total-count"> </div>
            <div id="decrement-count">
                <input type="button" id="down-arrow" value="Previous" />
            </div>
            <a href=""/>
        </div>
        
    }
    <script>
        const incrementCount = document.getElementById("increment-count");
        const decrementCount = document.getElementById("decrement-count");

        // Select total count
        const totalCount = document.getElementById("total-count");
        console.log("Count::" + '@TempData["pageSize"]');
        // Variable to track count
        var count = '@TempData["pageSize"]';

        // Display initial count value
        totalCount.innerHTML = count;

        // Function to increment count
        const handleIncrement = () => {
            count++;
            totalCount.innerHTML = count;
            passCount(count);
        };

        // Function to decrement count
        const handleDecrement = () => {
            count--;
            totalCount.innerHTML = count;
            passCount(count);
        };

        // Add click event to buttons
        incrementCount.addEventListener("click", handleIncrement);
        decrementCount.addEventListener("click", handleDecrement);

        function passCount(count){
            
            $.get("/Home/getAccount", { input: count }, function (data) {
                //window.location.reload();
            });
        }
    </script>
    <form asp-action="logout" asp-controller="Login" method="post">
        <input type="submit" id="submit" name="submit" value="Logout" />
    </form>
</div>
